* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Tache2 exo1----------------------------------- */
.hero-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    background-color: whitesmoke;
    padding: 15px 20px;
    color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.data-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-content {
    margin-top: auto;
    padding: 10px 20px;
}

.Logo {
    width: 70px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 25px;
    transition: background-color 0.3s ease-in;
    margin: 0 10px;
    font-weight: bold;
}

.menu-data {
    margin-left: auto;
    display: flex;
    align-items: center;
}

a:hover {
    background-color: #009688;
    color: white;
    transform: scale(-1, 1);
}

#active-link {
    background-color: #009688;
    color: white;
}

.size-icon {
    font-size: 26px;
}

#Menu-bar {
    display: none;
    margin-left: auto;
}

#close {
    display: none;
}

@media (max-width:761px) {
    .menu-data {
        position: absolute;
        flex-direction: column;
        text-align: left;
        align-items: end;
        left: 95%;
        top: 10%;
        transform: translate(-100%);
        background-color: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        width: 200px;
        padding: 10px;
        transition: display ease-in 5s;
        z-index: -10;
    }

    .data-container {
        justify-content: space-between;
    }

    a:hover {
        border-radius: 0;
        border: none;
        border-bottom: #009688 1px solid;
        color: black;
        transform: scale(-1, 1);
    }

    #Menu-bar {
        display: block;
    }

    #close {
        display: block;
    }

}

.hero-section-content {
    width: 100%;
    height: auto;
}


/* Tahe2 Exo2 ------------------------------------ */
.title-tache4{
    text-align: center;
    margin-top: 5%;
}
.filter-buttons {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 20px;
}

.filter-button {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.filter-button:hover {
    transform: scale(1.1);
    background-color: #000;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    margin: 10px;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(0.9);
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

.image img {
    width: 300px;
    height: 400px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.image img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}

.hidden {
    display: none;
}